@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
.body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}
a {
  cursor: pointer;
}

.roseToWhiteGradient {
  background: linear-gradient(310deg, rgba(255, 255, 255, 1) 78%, #fff1f2 85%);
}
.movingBackground {
  background-size: 200%;
  -webkit-animation: movingBackground 5s ease infinite;
  -moz-animation: movingBackground 5 ease infinite;
  animation: movingBackground 5s ease infinite;
}

@keyframes movingBackground {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
