@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}
.body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}
a {
  cursor: pointer;
}

.roseToWhiteGradient {
  background: linear-gradient(310deg, rgba(255, 255, 255, 1) 78%, #fff1f2 85%);
}
.tealToWhiteGradient {
  background: linear-gradient(
    320deg,
    rgba(255, 255, 255, 1) 78%,
    rgba(207, 255, 244, 0.746) 100%
  );
}
/* rgba(162, 246, 221, 0.4462423201702556) 100% */

.movingBackground {
  background-size: 200%;
  -webkit-animation: movingBackground 5s ease infinite;
  -moz-animation: movingBackground 5s ease infinite;
  animation: movingBackground 5s ease infinite;
}
.movingBackgroundSlow {
  background-size: 300%;
  -webkit-animation: movingBackground 15s ease infinite;
  -moz-animation: movingBackground 15s ease infinite;
  animation: movingBackground 15s ease infinite;
}

@keyframes movingBackground {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
@layer components {
  .text-input {
    @apply border-black bg-white border-2 text-gray-900 text-sm rounded-lg focus:ring-black  block w-full p-2.5;
  }
}
